<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Shortener</h2>
            <div class="link-container">
                <div class="form-group">
                    <input type="text" name="environment" placeholder="Long URL" id="shorten" required autofocus="" value="">
                </div>
                <button class="btn btn-info btn-xs shorten-button">Shorten URL</button>
            </div>
        </div>
    </div>
    <div class="well infobox">
        <h3>Shortened URLs</h3>
        <div class="table-responsive">
            <div class="url-list">
                <div class="panel-body"></div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $(".shorten-button").click(function (element) {
            parentContainer = "url-list";
            $.ajax({
                type: 'POST',
                url: '/url',
                data: JSON.stringify({url: $("#shorten").val()}),
                contentType: "application/json",
                success: function (data) {
                    $("<li>").append('Short URL - <a href="http://localhost:9292/' + data['short_url'] + '">' + data['short_url'] + '</a> --------- Long URL - <a href="' + data['long_url'] + '">' + data['long_url'] + '</a>').appendTo(".url-list")
                }
            });
        });
    });
</script>
